@if (ordered()) {
  <ol [class]="className()">
    @for (item of items(); track $index) {
      <li>
        @if (isString(item)) {
          {{ item }}
        } @else {
          <ng-container [ngTemplateOutlet]="item" />
        }
      </li>
    }
  </ol>
} @else {
  <ul [class]="className()">
    @for (item of items(); track $index) {
      <li>
        @if (isString(item)) {
          {{ item }}
        } @else {
          <ng-container [ngTemplateOutlet]="item" />
        }
      </li>
    }
  </ul>
}
