apiVersion: v1
kind: Secret
metadata:
  name: pgbouncer-userlist
type: Opaque
stringData:
  userlist.txt: |
    "postgres" "postgres"
    "podzone" "podzone"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: pgbouncer-config
data:
  pgbouncer.ini: |
    [databases]
    * = host=postgres.default.svc.cluster.local port=5432

    [pgbouncer]
    listen_addr = 0.0.0.0
    listen_port = 6432

    auth_type = plain
    auth_file = /etc/pgbouncer/userlist.txt
    pool_mode = transaction

    max_client_conn = 500
    default_pool_size = 20
    reserve_pool_size = 10
    reserve_pool_timeout = 5

    server_idle_timeout = 60
    server_reset_query = DISCARD ALL
    ignore_startup_parameters = extra_float_digits
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pgbouncer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pgbouncer
  template:
    metadata:
      labels:
        app: pgbouncer
    spec:
      terminationGracePeriodSeconds: 5
      containers:
        - name: pgbouncer
          image: edoburu/pgbouncer:v1.25.1-p0
          imagePullPolicy: IfNotPresent
          ports:
            - name: pgbouncer
              containerPort: 6432
          volumeMounts:
            - name: pgbouncer-config
              mountPath: /etc/pgbouncer/pgbouncer.ini
              subPath: pgbouncer.ini
            - name: pgbouncer-userlist
              mountPath: /etc/pgbouncer/userlist.txt
              subPath: userlist.txt
          resources:
            requests:
              cpu: '5m'
              memory: '16Mi'
          readinessProbe:
            tcpSocket:
              port: 6432
            initialDelaySeconds: 2
            periodSeconds: 5
      volumes:
        - name: pgbouncer-config
          configMap:
            name: pgbouncer-config
        - name: pgbouncer-userlist
          secret:
            secretName: pgbouncer-userlist
---
apiVersion: v1
kind: Service
metadata:
  name: pgbouncer
spec:
  type: ClusterIP
  selector:
    app: pgbouncer
  ports:
    - name: pgbouncer
      port: 6432
      targetPort: 6432
