apiVersion: v1
kind: ConfigMap
metadata:
  name: kafka-ui-config
data:
  dynamic_config.yaml: |
    auth:
      type: DISABLED
    kafka:
      clusters:
        - bootstrapServers: kafka:9092
          name: kafka-cluster-default
          properties: {}
          readOnly: false
    rbac:
      roles: []
    webclient: {}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka-ui
  template:
    metadata:
      labels:
        app: kafka-ui
    spec:
      containers:
        - name: kafka-ui
          image: provectuslabs/kafka-ui:v0.7.2
          ports:
            - containerPort: 8080
          env:
            - name: DYNAMIC_CONFIG_ENABLED
              value: 'true'
            - name: JAVA_TOOL_OPTIONS
              value: '-Xms64m -Xmx128m -XX:+UseG1GC'
          volumeMounts:
            - name: kafka-ui-config-volume
              mountPath: /etc/kafkaui/dynamic_config.yaml
              subPath: dynamic_config.yaml
          resources:
            requests:
              cpu: '25m'
              memory: '96Mi'
            limits:
              cpu: '200m'
              memory: '256Mi'
      volumes:
        - name: kafka-ui-config-volume
          configMap:
            name: kafka-ui-config
---
apiVersion: v1
kind: Service
metadata:
  name: kafka-ui
spec:
  selector:
    app: kafka-ui
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: ClusterIP
