<mat-list [class]="wrapperClass()">
  @for (item of items(); track item.label) {
    @if (item.href) {
      <a mat-list-item [routerLink]="item.href" [activated]="!!item.active">
        <ng-container *ngTemplateOutlet="itemContent; context: { $implicit: item }" />
      </a>
    } @else if (item.onClick) {
      <button mat-list-item type="button" [activated]="!!item.active" (click)="item.onClick()">
        <ng-container *ngTemplateOutlet="itemContent; context: { $implicit: item }" />
      </button>
    } @else {
      <mat-list-item [activated]="!!item.active">
        <ng-container *ngTemplateOutlet="itemContent; context: { $implicit: item }" />
      </mat-list-item>
    }
  }
</mat-list>

<ng-template #itemContent let-item>
  <span matListItemTitle>{{ item.label }}</span>
  @if (item.description) {
    <span matListItemLine>{{ item.description }}</span>
  }
</ng-template>
