<div [class]="wrapperClass()">
  @for (item of items(); track item.label) {
    @if (item.href) {
      <a
        class="app-list-group__row"
        [routerLink]="item.href"
        [class.app-list-group__row--active]="!!item.active"
      >
        <ng-container *ngTemplateOutlet="itemContent; context: { $implicit: item }" />
      </a>
    } @else if (item.onClick) {
      <button
        type="button"
        class="app-list-group__row"
        [class.app-list-group__row--active]="!!item.active"
        (click)="item.onClick()"
      >
        <ng-container *ngTemplateOutlet="itemContent; context: { $implicit: item }" />
      </button>
    } @else {
      <div class="app-list-group__row app-list-group__row--static">
        <ng-container *ngTemplateOutlet="itemContent; context: { $implicit: item }" />
      </div>
    }
  }
</div>

<ng-template #itemContent let-item>
  @if (item.leadingText) {
    <span class="app-list-group__avatar">{{ item.leadingText }}</span>
  }
  <span class="app-list-group__main">
    <span class="app-list-group__title">{{ item.label }}</span>
    @if (item.description) {
      <span class="app-list-group__description">{{ item.description }}</span>
    }
  </span>
  @if (item.href || item.onClick) {
    <mat-icon class="app-list-group__chevron" aria-hidden="true">chevron_right</mat-icon>
  }
</ng-template>
