apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  labels:
    app: auth-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
        - name: auth-service
          image: tuannm99/podzone-auth:staging
          imagePullPolicy: Always
          ports:
            - containerPort: 50051
              name: grpc
          env:
            - name: APP_ENV
              valueFrom:
                secretKeyRef:
                  name: global-secrets
                  key: APP_ENV
            - name: DEFAULT_LOG_LEVEL
              valueFrom:
                secretKeyRef:
                  name: global-secrets
                  key: DEFAULT_LOG_LEVEL
            - name: GOOGLE_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: global-secrets
                  key: GOOGLE_CLIENT_ID
            - name: GOOGLE_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: global-secrets
                  key: GOOGLE_CLIENT_SECRET
            - name: OAUTH_REDIRECT_URL
              valueFrom:
                secretKeyRef:
                  name: global-secrets
                  key: OAUTH_REDIRECT_URL
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: global-secrets
                  key: JWT_SECRET

            - name: APP_REDIRECT_URL
              value: 'http://admin-ui.tuannm.uk/home'

            - name: GRPC_PORT
              value: '50051'
            - name: REDIS_AUTH_URI
              value: 'redis://redis.default.svc.cluster.local:6379/0'
            - name: SQL_AUTH_URI
              value: 'postgres://postgres:postgres@postgres.default.svc.cluster.local:5432/auth?sslmode=disable'

          resources:
            requests:
              cpu: '20m'
              memory: '50Mi'
            limits:
              cpu: '50m'
              memory: '128Mi'
          readinessProbe:
            tcpSocket:
              port: 50051
            initialDelaySeconds: 2
            periodSeconds: 5
          livenessProbe:
            tcpSocket:
              port: 50051
            initialDelaySeconds: 15
            periodSeconds: 30

---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
spec:
  selector:
    app: auth-service
  ports:
    - port: 50051
      name: grpc
      targetPort: 50051
