apiVersion: apps/v1
kind: Deployment
metadata:
  name: catalog-service
  labels:
    app: catalog-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: catalog-service
  template:
    metadata:
      labels:
        app: catalog-service
    spec:
      containers:
        - name: catalog-service
          image: tuannm99/podzone-catalog:staging
          imagePullPolicy: Always
          ports:
            - containerPort: 50051
              name: grpc
          env:
            - name: APP_ENV
              valueFrom:
                secretKeyRef:
                  name: global-secrets
                  key: APP_ENV
            - name: DEFAULT_LOG_LEVEL
              valueFrom:
                secretKeyRef:
                  name: global-secrets
                  key: DEFAULT_LOG_LEVEL

            - name: GRPC_PORT
              value: '50051'
            - name: REDIS_CATALOG_URI
              value: 'redis://redis.default.svc.cluster.local:6379/1'
            - name: MONGO_CATALOG_URI
              value: 'mongodb://mongodb-internal.default.svc.cluster.local:27017/catalog'

          resources:
            requests:
              cpu: '20m'
              memory: '50Mi'
            limits:
              cpu: '50m'
              memory: '128Mi'
          readinessProbe:
            tcpSocket:
              port: 50051
            initialDelaySeconds: 2
            periodSeconds: 5
          livenessProbe:
            tcpSocket:
              port: 50051
            initialDelaySeconds: 15
            periodSeconds: 30

---
apiVersion: v1
kind: Service
metadata:
  name: catalog-service
spec:
  selector:
    app: catalog-service
  ports:
    - port: 50051
      name: grpc
      targetPort: 50051
