apiVersion: apps/v1
kind: Deployment
metadata:
  name: grpcgateway-service
  labels:
    app: grpcgateway-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grpcgateway-service
  template:
    metadata:
      labels:
        app: grpcgateway-service
    spec:
      containers:
        - name: grpcgateway-service
          image: tuannm99/podzone-grpcgateway:staging
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
              name: http
          env:
            - name: APP_ENV
              valueFrom:
                secretKeyRef:
                  name: global-secrets
                  key: APP_ENV
            - name: DEFAULT_LOG_LEVEL
              valueFrom:
                secretKeyRef:
                  name: global-secrets
                  key: DEFAULT_LOG_LEVEL

            - name: GW_HTTP_PORT
              value: '8080'
            - name: AUTH_GRPC_ADDR
              value: 'auth-service.default.svc.cluster.local:50051'
            - name: ORDER_GRPC_ADDR
              value: 'order-service.default.svc.cluster.local:50051'
            - name: CATALOG_GRPC_ADDR
              value: 'catalog-service.default.svc.cluster.local:50051'
            - name: PAYMENT_GRPC_ADDR
              value: 'payment-service.default.svc.cluster.local:50051'
            - name: CART_GRPC_ADDR
              value: 'cart-service.default.svc.cluster.local:50051'

          resources:
            requests:
              cpu: '20m'
              memory: '50Mi'
            limits:
              cpu: '50m'
              memory: '128Mi'
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 2
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 30

---
apiVersion: v1
kind: Service
metadata:
  name: grpcgateway-service
spec:
  selector:
    app: grpcgateway-service
  ports:
    - port: 8080
      name: http
      targetPort: 8080
